*{
    margin: 0;
    padding: 0;
}

.Header{
    background-color: #469264;

}
.section4{
    margin: 12px;
    padding-left: 14px;
    padding: 5px;
    color: white;
         border: solid #469264 2px;
         border-radius: 12px;
        background-color: #469264;
    
    
}
.color{
    border-radius: 12px;
    border: solid 2px #edeef0;
    background-color: #F4F5F7;
}

.container1{
    width: 90%;
    margin: 0 auto;
}
.asos_text{
    color: white;
    font-size: 25px;
    width: 38%;
    position: absolute;
    transform: translate(3%, -100%);
}
.asos_text2{
    color: white;
    width: 17%;
    position: absolute;
    transform: translate(3%, -100%);
}